<%= form_for([@room, @room.reservations.new]) do |f| %>
	
	<div class="row">
		<div class="col-md-6">
			<label>Check In</label>
			<%= f.text_field :start_date, placeholder: 'Start Date', class: 'form-control', readonly: 'true' %>
		</div>
		<div class="col-md-6">
			<label>Check Out</label>
			<%= f.text_field :end_date, placeholder: 'End Date', class: 'form-control', disabled: 'true' %>
		</div>
	</div>

	<%= f.hidden_field :room_id, value: @room.id %>
	<%= f.hidden_field :price, value: @room.price %>
	<%= f.hidden_field :total, value: 'reservation_total' %>
	
	<div id="preview" style = "display:none;">
		<h4><span id="message"></span></h4>	
		<table class = "reservation-table">
			<tbody>
				<tr>
					<td>Day(s)</td>
					<td><span id="reservation_days"></span></td>
				</tr>
				<tr>
					<td>Total</td>
					<td><span id="reservation_sum"></span></td>
				</tr>
			</tbody>
		</table>
	</div>

	<br/>
	<%= f.submit "Book Now", class: "btn btn-primary" %>
<% end %>

<script type="text/javascript">
	$(function(){
		$('#reservation_start_date').datepicker({
			dateFormat: 'dd-mm-yy'
		});

		$('#reservation_end_date').datepicker({
			dateFormat: 'dd-mm-yy'
		});
	});
</script>