<div class="panel panel-default">
  <div class="panel-heading">
    Create your beautiful place
  </div>
  <div class="panel-body">
    <div class="container">
      <%= form_for @room, html: {multipart: true} do |f| %>
        <div class="row">
          <div class="col-md-4 select">
            <div class="form-group">
              <label>Home Type</label>
              <!--[key, value]-->
              <%= f.select :home_type, [["Appartment", "Appartment"], ["House", "House"], ["Bed & Breakfast", "Bed & Breakfast"]], id: 'home_type', prompt: 'Select...', class: 'form-control' %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>Room Type</label>
              <%= f.select :room_type, [["Entire", "Entire"], ["Private", "Private"], ["Shared", "Shared"]], prompt: 'Select...', class: 'form-control' %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>Accomodate</label>
              <%= f.select :accomodate, [["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5], ["6+", 6]], prompt: 'Select...', class: 'form-control' %>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-4 select">
            <div class="form-group">
              <label>Bedrooms</label>
              <%= f.select :bedroom, [["1", 1], ["2", 2], ["3", 3], ["4+", 4]], prompt: 'Select...', class: 'form-control' %>
            </div>
          </div>

          <div class="col-md-4 select">
            <div class="form-group">
              <label>Bathrooms</label>
              <%= f.select :bathroom, [["1", 1], ["2", 2], ["3", 3], ["4+", 4]], prompt: 'Select...', class: 'form-control' %>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="form-group">
              <label>Listing Name</label>
              <%= f.text_field :listing_name, placeholder: 'Be clear and descriptive', class: 'form-control' %>
            </div>
        </div>

          <div class="row">
            <div class="form-group">
              <label>Summary</label>
              <%= f.text_area :summary, rows: 5, placeholder: 'Tell about your accomodation!', class: 'form-control' %>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <label>Address</label>
              <%= f.text_field :address, placeholder: 'What is your address?', class: 'form-control' %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label><%= f.check_box :is_tv %> TV</label>
              </div>
              <div class="form-group">
                <label><%= f.check_box :is_kitchen %> Kitchen</label>
              </div>
              <div class="form-group">
                <label><%= f.check_box :is_internet %> Internet</label>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label><%= f.check_box :is_heating %> Heating</label>
              </div>
              <div class="form-group">
                <label><%= f.check_box :is_air %> Air Conditioning</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Nightly Price</label>
                <div class="input-group">
                  <div class="input-group-addon">$</div>
                  <%= f.text_field :price, placeholder: 'e.g. $100', class: 'form-control' %>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <span class="btn btn-default btn-file">
                  <i class="fa fa-cloud-upload fa-lg"></i> Upload Photos
                  <%= file_field_tag "images[]", type: :file, multiple: true %>
                </span>
              </div>
            </div>
          </div>

          <div id="photos">
            <%= render 'photos/list' %>
          </div>

          <div class="row">
            <div class="form-group">
              <label><%= f.check_box :active %> Active</label>
            </div>
          </div>

          <div class="actions">
            <%= f.submit "Save", class: "btn btn-primary" %>
          </div>
      <% end %>
    </div>
  </div>
</div>