<div class="panel panel-default">
	<div class="panel-body">
		
		<!-- Image -->
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<%= image_tag @photos[0].image.url, class: "img-responsive" if @photos.length > 0 %>
			</div>
		</div>

		<br/>
		<!-- Main Info -->
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-3 text-center">
						<%= image_tag avatar_url(@room.user), class:"img-circle avatar-large" %>
						<br/><br/>
						<%= @room.user.fullname %>
					</div>
					<div class="col-md-9">
						<h4><%= @room.listing_name %></h4>
						<%= @room.address %>

						<div class="row text-centre row-space-1">
							<div class="col-sm-3">
								<i class="fa fa-home fa-2x"></i>
							</div>
							<div class="col-sm-3">
								<i class="fa fa-user fa-2x"></i>
							</div>
							<div class="col-sm-3">
								<i class="fa fa-bed fa-2x"></i>
							</div>
							<div class="col-sm-3">
								<i class="fa fa-ship fa-2x"></i>
							</div>
						</div>
						<div class="row text-centre row-space-1">
							<div class="col-sm-3">
								<%= @room.home_type %>
							</div>
							<div class="col-sm-3">
								<%= @room.accomodate %> <%= @room.accomodate > 1 ? "Guests":"Guest"  %>
							</div>
							<div class="col-sm-3">
								<%= @room.bedroom %> <%= @room.bedroom > 1 ? "Bedrooms":"Bedroom"  %>
							</div>
							<div class="col-sm-3">
								<%= @room.bathroom %> <%= @room.bedroom > 1 ? "Bathrooms":"Bathroom"  %>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="col-md-4">
				<!-- Reservation form -->
			</div>
		</div>

		<!-- About -->
		<div class="row">
			<div class="col-md-12">
				<h2>About This Listing</h2>
				<p><%= @room.summary%></p>
			</div>
		</div>

		<!-- Amenities -->
		<div class="row">
			<div class="col-md-2">
				<h2>Amenities</h2>
			</div>
			<div class="row">
				<div class="col-md-10">
					<div class="row">
						<div class="col-md-6">
							<ul class="amenities">
								<li class="<%= 'text-line-through' unless @room.is_tv%>">TV</li>
								<li class="<%= 'text-line-through' unless @room.is_kitchen%>">Kitchen</li>
								<li class="<%= 'text-line-through' unless @room.is_internet%>">Internet</li>	
							</ul>
						</div>
						<div class="col-md-6">
							<ul class="amenities">
								<li class="<%= 'text-line-through' unless @room.is_heating %>">Heating</li>
								<li class="<%= 'text-line-through' unless @room.is_air %>">Air Conditioning</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Carousel -->
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div id="myCarousel" class="carousel slide" data-ride="carousel">
				  <!-- Indicators -->
				  <% if @photos %>
					  <ol class="carousel-indicators">
					  	<% @photos.each do |photo| %>
					    	<li data-target="#myCarousel" data-slide-to="<%= photo.id %>"></li>
					    <% end%>
					  </ol>
				  <% end %>
				  <!-- Wrapper for slides -->
				  <div class="carousel-inner" role="listbox">
				    <% if @photos %>
				    	<% @photos.each do |photo| %>
						    <div class="item <%= 'active' if photo.id.equal? @photos[0].id %>">
						      <%= image_tag photo.image.url()%>
						    </div>
					    <% end %>
				    <% end %>
				  </div>

				  <!-- Left and right controls -->
				  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
				    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				    <span class="sr-only">Previous</span>
				  </a>
				  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
				    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				    <span class="sr-only">Next</span>
				  </a>
				</div>

			</div>
		</div>

		<br/>
		<hr>

		<!-- Google Map -->
		<div class="row">
			<div class="col-md-12">
				<div id="map">
					
				</div>
				<style>
					#map{
						width: 100%;
						height: 400px;
					}
				</style>
				<script src="https://maps.googleapis.com/maps/api/js"></script>
			    <script>
			      function initialize() {
			        var mapCanvas = document.getElementById('map');
			        var mapOptions = {
			          center: new google.maps.LatLng(<%= @room.latitude %>, <%= @room.longitude %>),
			          zoom: 14,
			          mapTypeId: google.maps.MapTypeId.ROADMAP
			        }
			        var map = new google.maps.Map(mapCanvas, mapOptions);

			        var marker = new google.maps.Marker({
			        	position: new google.maps.LatLng(<%= @room.latitude %>, <%= @room.longitude %>),
			        	title: "Airbnb Clone"
			        });
			        marker.setMap(map);
			      }
			      google.maps.event.addDomListener(window, 'load', initialize);
			    </script>

			</div>
		</div>

		<!-- Close by Rooms -->
		<% if @room.nearbys.size > 0 %>
			<h3>Nearby</h3>
			<div class="row">
				<!-- Find nearby rooms within 10 miles radius -->
				<% for room in @room.nearbys(10) %>
					<div class="col-md-3">
						<div class="panel panel-default">
							<div class="panel-heading preview">
								<%= image_tag room.photos[0].image.url(:medium) %>
							</div>
							<div class="panel-body">
								<%= link_to room.listing_name, room %>
								(<%= room.distance.round(2) %> miles away)
							</div>
						</div>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>